.flashcard-container {
  margin: 2rem auto;
  width: 300px;
}
.flashcard {
    border: 1px solid #e3b79e;
    padding: 2rem;
    margin: 2rem auto;
    width: 300px;
    cursor: pointer;
    user-select: none;
    background-color: #e3b79e;
    transition: background-color 0.3s ease;
  }
  
  .flashcard:hover {
    background-color: #e3b79e;
  }
